<!DOCTYPE html>
<html class="ui-mobile">
<head>
    <title><%=title%></title>
    <!-- %-stylesheets% -->
    <!-- %-scripts% -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
    <link type="text/css" rel="stylesheet" href="./stylesheets/jquery.mobile-1.3.1.min.css">
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/angular-mobile.js"></script>
    <script src="/javascripts/angular-jqm.js"></script>
</head>
    <body ng-app="app">
        <!-- header jqm-header="">
          <%-blocks.header%>
        </header -->
        <section>
          <%-body -%>
        </section>
        <footer jqm-caching-view="" >
            <!-- %-blocks.footer% -->
        </footer>
    </body>
</html>
