<% layout('boilerplate') -%>
<% stylesheet('/stylesheets/jquery.mobile-1.3.1.min.css') -%>
<% script('/javascripts/angular.js') -%>
<% script('/javascripts/angular-mobile.js') -%>
<% script('/javascripts/angular-jqm.js') -%>

<script>
    var mod = angular.module("app", ["jqm"]);
    mod.config(function ($routeProvider) {
        $routeProvider.when("/index", {
            redirectTo: "main.html"
        });
        $routeProvider.when("/main.html", {
            templateUrl: 'main.html',
            animation: 'page-slide'
        });
        $routeProvider.when("/devices.html", {
            templateUrl: 'devices.html',
            animation: 'page-slide'
        });
        $routeProvider.otherwise({
            redirectTo: "main.html"
        });
    });
    </script>

    <script>
        function NoopCtrl() {

        }
    </script>

<script type="text/ng-template" id="main.html">
	<div jqm-header="">
		<h1><%= title %></h1>
	</div>
    <!-- /header -->

	<div data-role="content" jqm-theme="a">
    <p>Welcome to <%= title %></p>
    
    <% if (!user) { %>
	    <h2>Welcome! Please log in.</h2>
    <% } else { %>
	    <h2>Hello, <%= user.username %>.</h2>
    <% } %>

		<ul jqm-theme='b'>
			<li><a jqm-button href="#/devices.html">Devices</a></li>
			<li><a jqm-button href="#">Home</a></li>
		</ul>
	</div><!-- /content -->

	<div jqm-footer="">
		<h4>Main Page Footer</h4>
	</div><!-- /footer -->
</script>

<script type="text/ng-template" id="devices.html">
	<div jqm-header="">
		<h1><%= title %></h1>
	</div>
    <!-- /header -->

	<div data-role="content">
    <p>Devices</p>
    
		<ul data-role="listview" data-inset="true" data-filter="true" jqm-theme='a'>
			<li><a jqm-button href="#/devices.html">Devices</a></li>
			<li><a jqm-button href="#">Home</a></li>
		</ul>
	</div><!-- /content -->
    <div jqm-footer="">
		<h4>Devices Page Footer</h4>
	</div><!-- /footer -->
</script>

<% block('header', "<p >I'm in the header.</p>") -%>
<% block('footer', "<div jqm-footer=''><h1>I'm in the footer.</h1></div>") -%>
