<% layout('boilerplate') -%>
<% script('/javascripts/test.js') -%>
<% stylesheet('/stylesheets/style.css') -%>

<p>Welcome to <%= title %></p>
    
<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
<% } else { %>
	<h2>Hello, <%= user.username %>.</h2>
<% } %>

<% block('header', "<p>I'm in the header.</p>") -%>
<% block('footer', "<p>I'm in the footer.</p>") -%>
