<!doctype html>
<html ng-app="jqm">
 <head>
   <script src="http://angular-widgets.github.io/angular-jqm/master/docs/grunt-scripts/jquery.mobile.css.js"></script>
   <script src="http://angular-widgets.github.io/angular-jqm/master/docs/js/angular.min.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-mobile.js"></script>
   <script src="http://angular-widgets.github.io/angular-jqm/master/docs/grunt-scripts/angular-jqm.js"></script>
   <script src="http://angular-widgets.github.io/angular-jqm/master/docs/grunt-scripts/angular-scrolly-docs.js"></script>
 </head>
  <body>
    <div jqm-header><h1>This is Header</h1></div>
      <br />
      <br />
    <div>
        <div jqm-button icon="ui-icon-search" ng-click>Do some search</div>
        <a jqm-button icon="ui-icon-home" data-mini="true" href="#/api" ng-click>Go home, mini!</a>
        <hr />
        <h5>Form With Vertical Group</h5>
        <form action="http://foobar3000.com/echo" method="GET">
          <div jqm-textinput ng-model="$root.value" ng-init="$root.value='banana'" name="stuff"></div>
          <div jqm-controlgroup>
            <div jqm-button="submit" ng-click icon="ui-icon-check" iconpos="right">Submit to foobar3030.com</div>
            <div jqm-button="reset" ng-click icon="ui-icon-minus" iconpos="right">"reset" it away!</div>
          </div>
        </form>
        <hr />
        <h5>Horizontal Group</h5>
        <div jqm-controlgroup type="horizontal">
          <div jqm-button ng-click>One</div>
          <div jqm-button ng-click>Two</div>
          <div jqm-button ng-click>Three</div>
        </div>
    </div>
    <div jqm-footer><h1>This is Footer</h1></div>
  </body>
</html>
